* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Big Shoulders Display', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ---------- Contenitore principale ---------- */

main {
    width: 920px;
    height: 500px;
    border-radius: 8px;
    display: flex;
}

/* ---------- Tutte le Cards ---------- */

.card {
    width: 307px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}

.card h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
    font-style: normal;
    color: #F2F2F2;
}

.card p {
    width: 212px;
    font-family: Lexend Deca;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    line-height: 25px;
    opacity: 0.75;
    color: #FFF;
}

/* ---------- Singole Card ---------- */

main .card:nth-child(1) {
    background: #E28625;
    border-radius: 8px 0 0 8px;
}

main .card:nth-child(2) {
    background: #006971;
}

main .card:nth-child(3) {
    background: #004140;
    border-radius: 0 8px 8px 0;
}

/* ---------- Bottoni ---------- */

.button {
    border: none;
    width: 146px;
    height: 48px;
    border-radius: 25px;
}

.card-container #btn-1 {
    color: #E28625;
}

.card-container #btn-2 {
    color: #006971;
}

.card-container #btn-3 {
    color: #004140;
}

.button:hover {
    cursor: pointer;
    background: transparent;
    border: 2px solid #FFF;
    color: #F2F2F2 !important;
}

/* ---------- Svg Cars ---------- */

.card-container img {
    width: 64px;
}

/* ---------- Media Query per Smarphone ---------- */

@media (max-width: 768px) {
    body {
        min-height: 100%;
        align-items: flex-start;
    }

    main {
        flex-direction: column;
        max-width: 90%;
        padding: 20px 0;
        height: auto;
    }

    .card {
        width: 100%;
    }

    main .card:nth-child(1) {
        border-radius: 8px 8px 0 0;
    }

    main .card:nth-child(3) {
        border-radius: 0 0 8px 8px;
    }
}