@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Background colors */
    --color-bg-primary: #151515; /* Sfondo principale */
    --color-bg-secondary: #242424; /* Sfondo secondario */

    /* Accent color */
    --color-accent-primary: #d9d9d9; /* Colore di accento principale */
    --color-accent-secondary: #4ee1a0; /* Colore di accento secondario */

    /* Text colors */
    --color-text-primary: #ffffff; /* Testo principale */
    --color-text-secondary: #d9d9d9; /* Testo secondario */
    --color-text-error: #ef4444; /* Colore del testo per errori */
  }
}

@layer base {
  html {
    font-family: "Space Grotesk";
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
  }
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
