@font-face {
  font-family: "WorkSans";
  src: url("src/assets/fonts/static/WorkSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("src/assets/fonts/static/WorkSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("src/assets/fonts/static/WorkSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("src/assets/fonts/WorkSans-VariableFont_wght.ttf");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("src/assets/fonts/WorkSans-Italic-VariableFont_wght.ttf");
  font-weight: 400 700;
  font-style: italic;
}
